.jumbotron{
    border-radius: 25px !important;
    margin-left: 100px;
    margin-right: 100px;
    border:2px solid black;
    
}
.card{
    border-radius: 25px !important;
    margin-left: 100px;
    margin-right: 100px;

}
.card-header{
    border-radius: 25px !important;
    

}
